.hero {
    margin: auto;
    width: 1600px; 
    padding: 200px 0;
    background: linear-gradient(rgba(47,48,58,0.4),rgba(47,48,58,0.4)), url(../images/clients/Img.jpg); 
    background-color:  #C4C4C4;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .hero__titile {
    color: var(--while-color);
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }