.main-nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @media screen and (min-width: 767px) {
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      align-items: center;
    }
  }
 
  .nav-list__item{
    & {
      color: var(--black-color);
      
      font-weight: 500;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.02em;
    }
    &.nav-list__link{
        color: var(--black-color);
    }
}

  .auth-list {
      &.auth-list__mail:hover,
      .auth-list__mail:focus,
      .auth-list__phone:hover,
      .auth-list__phone:focus{
         color: var(--pretty-color);
    } 
      &  .auth-list__item  + .auth-list__item {
        margin-left: 50px;
      @media screen and (min-width: 767px) {
        margin-left: 0;
        }
        @media screen and (min-width: 1200px) {
          margin-left: 50px;
          }  
    }
      & .auth-list__item:hover,
      & .auth-list__item:focus {
        color: var(--pretty-color);  
    }
  }

  


  .auth-list {
    & {
        display: flex;
        margin-left: auto
    }
    & .auth-list__item{
      display: flex;
      align-items: center;
      color: var(--grey-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      margin-bottom: 10px;
      
    }
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }

    @media screen and (min-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      margin-left: 84px;
    }
  }

  .nav-list__link {
    & {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      color: #212121;
      
      position: relative;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &:hover,
    &:focus,
    &.current{
      color: var(--pretty-color);  
    }
  }

  
  .nav-list {
    & {
        display: flex;     
        margin-left: 88px;
        justify-content: center;
        @media screen and (min-width: 1200px) {
          margin-left: 93px;
        }
       
    }
    & .nav-list__item {
        margin-right: 50px;
        color: var(--grey-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    & .nav-list__item:last-child {
         margin-right: 0;
    }
    & .nav-list__item .current::after,
    & .nav-list__link:hover::after {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #2196f3;
        border-radius: 2px;
        margin-top: 30px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    .auth-list__item:not(:last-child) {
        margin-right: 50px;
        margin-bottom: 0;
      }
  }
}

.auth-list__icon {
    fill: currentColor;
    margin-right: 10px;
  }
  
  
  
 .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-top: -32px;
    @media screen and (min-width: 430px) {
      padding-left: 40px;
      padding-right: 40px;
    }
}