.section-team {
    background: var(--light-color);
    padding-top: 60px;
    padding-bottom:60px;
     @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
     }
  }


  .card-team{
    // display: flex;  
    margin-bottom: -30px;
    @media screen and (min-width: 768px){
      display: flex;
      flex-wrap: wrap;
      margin-left: -30px;
    }
  } 

  
  .card-team__list{
    text-align: center;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-left: 30px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 120px) / 4);
    }
  }
.card-team__list:nth-child(3),
  .card-team__list:nth-child(4) {
   margin-bottom: 0;
  }

  .card-team .card-team__li:nth-child(4){
    margin-right: 0;
  }
  
  .card-team__title {
    color: var(--black-color);
    margin-bottom: 10px;
    margin-top: 30px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
  }
  
  .card-team__label{
    color: var(--grey-color);
    margin-bottom: 30px;
  }
  
  
  .card-team__img {
    margin-bottom: 30px;
    width: 100%;
  }
  
  .card-team  {
    & .card-team__list{
        padding-bottom: 30px;
        
        background: var(--while-color);
        border-radius: 0px 0px 4px 4px;
        transform: scale(1) ; 
        margin-bottom: 30px;
        box-shadow: var(--feature-card-shadow); 
    }
    & 
    .card-team__list:nth-child(4){
      @media screen and (min-width: 1200px) {
        margin-bottom: 30px; 
      }
    }
    & .card-team__list:hover{
       box-shadow: var(--feature-card-shadow);
        
    }
}

